/07_ACloserLookAtMethodsAndClasses/nbproject/private/
/07_ACloserLookAtMethodsAndClasses/dist/
/07_ACloserLookAtMethodsAndClasses/build/
/11_MultithreadedProgramming/nbproject/private/
/11_MultithreadedProgramming/build/